# ignore .wav files
*.wav

# ignore data folder because of its size
data/

# ignore data_22050 folder because of its size
data_22050/

# ignore data_split folder because of its size
data_split/

# ignore spectrograms folder because of its size
spectrograms/

# ignore models folder because of its size
models/